@media (max-width: calc(1080px - 1px)) {
    .lp-start-booking {
        text-align: center;
    }
    .lp-start-booking .sign-up {
        align-self: center;
        max-width: 80%;
    }
}

.lp-start-booking h1 {
    font-size: 90px;
    font-weight: 600;
}

@media (max-width: calc(768px - 1px)) {
    .lp-start-booking h1 {
        font-size: 70px;
    }
}

.lp-start-booking__image-bg {
    /*background-image: url("/public/assets/images/BG.png");*/
    min-height: 500px;
    background-size: cover;
    background-position: top left;
}

.lp-start-booking__hanging-m {
    position: absolute;
    bottom: -50px;
    right: 50px;
}