[type='range'] {
    -webkit-appearance: none;
    background: transparent;
    margin: 25px 5px;
    width: 100%;
}

[type='range']::-moz-focus-outer {
    border: 0;
}

[type='range']:focus {
    outline: 0;
}

[type='range']:focus::-webkit-slider-runnable-track {
    background: #bfbfbf;
}

[type='range']:focus::-ms-fill-lower {
    background: #BFBFBF;
}

[type='range']:focus::-ms-fill-upper {
    background: #bfbfbf;
}

[type='range']::-webkit-slider-runnable-track {
    cursor: default;
    height: 2px;
    transition: all .2s ease;
    width: 100%;
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.2);
    background: #BFBFBF;
    border: 0px solid #cfd8dc;
    border-radius: 15px;
}

[type='range']::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2), 0 0 0px rgba(13, 13, 13, 0.2);
    background: #7A40FF;
    border: 0px solid #fff;
    border-radius: 2px;
    box-sizing: border-box;
    cursor: default;
    height: 30px;
    width: 16px;
    transition-property: all;
    transition-duration: 0.3s;
    -webkit-appearance: none;
    margin-top: -14px;
}

[type='range']::-webkit-slider-thumb:hover {
    background: #9e73ff;
}

[type='range']::-moz-range-track {
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.2);
    cursor: default;
    height: 2px;
    transition: all .2s ease;
    width: 100%;
    background: #BFBFBF;
    border: 0px solid #cfd8dc;
    border-radius: 15px;
    height: 1px;
}

[type='range']::-moz-range-thumb {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2), 0 0 0px rgba(13, 13, 13, 0.2);
    background: #7A40FF;
    border: 0px solid #fff;
    border-radius: 2px;
    box-sizing: border-box;
    cursor: default;
    height: 30px;
    width: 16px;
    transition-property: all;
    transition-duration: 0.3s;
}

[type='range']::-moz-range-thumb:hover {
    background: #9e73ff;
}

[type='range']::-ms-track {
    cursor: default;
    height: 2px;
    transition: all .2s ease;
    width: 100%;
    background: transparent;
    border-color: transparent;
    border-width: 15px 0;
    color: transparent;
}

[type='range']::-ms-fill-lower {
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.2);
    background: #bfbfbf;
    border: 0px solid #cfd8dc;
    border-radius: 30px;
}

[type='range']::-ms-fill-upper {
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.2);
    background: #BFBFBF;
    border: 0px solid #cfd8dc;
    border-radius: 30px;
}

[type='range']::-ms-thumb {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2), 0 0 0px rgba(13, 13, 13, 0.2);
    background: #7A40FF;
    border: 0px solid #fff;
    border-radius: 2px;
    box-sizing: border-box;
    cursor: default;
    height: 30px;
    width: 16px;
    transition-property: all;
    transition-duration: 0.3s;
    margin-top: 0.5px;
}

[type='range']::-ms-thumb:hover {
    background: #9e73ff;
}

[type='range']:disabled::-webkit-slider-thumb,
[type='range']:disabled::-moz-range-thumb,
[type='range']:disabled::-ms-thumb,
[type='range']:disabled::-webkit-slider-runnable-track,
[type='range']:disabled::-ms-fill-lower,
[type='range']:disabled::-ms-fill-upper {
    cursor: not-allowed;
}